@import url("https://use.typekit.net/pqf8rpe.css");

.fourth_container_wrapper {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 48px;
  padding-right: 32px;
  background-color: #f3f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_footer_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 15px;
}

.copy_right_logo_footer {
  font-family: ibm-plex-sans, sans-serif;
  font-size: 13px;
  line-height: 2;
}

.socials_icon_medium {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.socials_icon_large {
  font-size: 39px !important;
  margin-right: 10px;
  cursor: pointer;
}

.socials_icon_medium:hover {
  transform: scale(1.2);
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

.facebook:hover {
  transform: scale(1.2);
  color: #3b5998;
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

.instagram:hover {
  transform: scale(1.2);
  color: #833ab4;
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

.linkedin:hover {
  transform: scale(1.2);
  color: #0077b5;
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

.email:hover {
  transform: scale(1.2);
  color: #ff914d;
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

/** Keyframes (Shake Animation) */
@keyframes shake {
  10%,
  90% {
    transform: rotate(-7deg);
  }

  20%,
  80% {
    transform: rotate(7deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(-7deg);
  }

  40%,
  60% {
    transform: rotate(7deg);
  }
}

.inner_footer_wrapper {
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.4rem;
}

.blueText h6 {
  font-weight: 800;
  font-size: 15px; /** 75px **/
  font-family: "Ubuntu", sans-serif;
  /* background: linear-gradient(to right, #007fff, #0059b2); */
  background: #007fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

/** Media Queries **/
@media (max-width: 930px) {
  .fourth_container_wrapper {
  }
}
