.navbar {
  position: sticky;
  padding-bottom: 0 !important;
  padding-top: 0;
  z-index: 1100;
  backdrop-filter: blur(20px);
  box-shadow: inset 0px -1px 1px #e7ebf0 !important;
  background-color: rgba(255, 255, 255, 0.72);
  top: 0;
  transition: top 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.navbar_inner_wrapper {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 66px;
}

.navbar-expand-md .navbar-collapse {
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.navbar-toggler {
  margin-top: 0.5rem;
}

.navbar .navbar-brand {
  font-weight: 700;
  letter-spacing: 0.35px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #1a2027;
}

.navbar-nav > li > a {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #1a2027;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 600;
  scroll-margin-top: calc(var(--MuiDocs-header-height) + 32px);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

.emptyDiv {
  display: flex;
  flex-grow: 10000;
}

.two-words {
  word-spacing: 1.25px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.iconsHeader {
  color: #1a2027;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.disabled_link {
  color: #9f9fa0 !important;
  cursor: not-allowed;
}

.disabled_link:hover {
  color: #9f9fa0 !important;
  background-color: white !important;
}

/** Hover **/
.navbar-nav li > a:hover {
  background-color: #f3f6f9;
  color: #3e5060;
}

/** Scroll/Progress Bar **/
#progressBarContainer {
  position: fixed;
  z-index: 100000;
  background: rgba(255, 255, 255, 0.05);
  width: 100%;
  top: 72.5px;
  left: 0;
}

#progressBar {
  /* background: linear-gradient(to right, rgb(163, 186, 236), #007fff, #0059b2); */
  background: linear-gradient(to right, crimson, pink, springgreen);
  transform-origin: top left;
  transform: scale(0, 0);
  opacity: 0;
}

#progressBarContainer,
#progressBar {
}

/** Media Queries **/
@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-expand-md .navbar-collapse .nav-link {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.navbar-toggler {
  margin-top: 0;
}

@media (max-width: 770px) {
  #progressBar,
  #progressBarContainer {
    display: none;
  }
}
